<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>side bar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="side-bar.component.css">
  </head>
  <body>
    <aside class="sidebar">
      <div class="logo">
        <img src="" alt="logo">
      </div>
      <hr>
      <ul class="links">
        <a><li *ngIf="hasRole('admin')">
          <span class="material-symbols-outlined">calendar_month</span>
          <a routerLink="/RDVManagement" routerLinkActive="active">Appointments manegement</a>
        </li></a>
        <a><li *ngIf="hasRole('admin')">
          <span class="material-symbols-outlined">folder_managed</span>
          <a routerLink="/projectManagement" routerLinkActive="active">Projects management</a>
        </li></a>
        <a><li *ngIf="hasRole('admin')">
          <span class="material-symbols-outlined">groups</span>
          <a routerLink="/teamManagement" routerLinkActive="active">Teams Management</a>
        </li></a>
        <a><li *ngIf="hasRole('admin')">
          <span class="material-symbols-outlined">manage_accounts</span>
          <a routerLink="/memberManagement" routerLinkActive="active">Member Management</a>
        </li></a>
        <a><li *ngIf="hasRole('project manager')">
          <span class="material-symbols-outlined">folder_managed</span>
          <a routerLink="/Projects" routerLinkActive="active">Projects</a>
        </li></a>
        <a><li *ngIf="hasRole('project manager') || hasRole('client')">
          <span class="material-symbols-outlined">chat</span>
          <a routerLink="/chat" routerLinkActive="active">Chat</a>
        </li></a>
        <a><li *ngIf="hasRole('admin')">
          <span class="material-symbols-outlined">manage_accounts</span>
          <a routerLink="/clientManagement" routerLinkActive="active">Client Management</a>
        </li></a>
        <a>
          <li *ngIf="hasRole('client') || hasRole('member')">
            <span (click)="toggleNotificationPopup()" class="material-symbols-outlined">notifications</span>
            <a (click)="toggleNotificationPopup()">Notifications</a>
          </li>
        </a>
        <a><li *ngIf="hasRole('project manager') || hasRole('admin')">
          <span class="material-symbols-outlined" (click)="logout()">logout</span>
          <a  routerLinkActive="active">Logout</a>
        </li></a>
        
        <!-- <a>
          <li>
            <span class="material-symbols-outlined">notifications</span>
            <a (click)="toggleNotification()">Notifications</a>
            <div *ngIf="showNotification" class="notification-dropdown">
              <app-notifications></app-notifications>
            </div>
          </li></a>
      <div [ngClass]="{'notification-dropdown': showNotification}" class="notification-dropdown">
        <app-notifications></app-notifications>
      </div>      -->
      </ul>

    </aside>
    <div *ngIf="showNotificationPopup" class="notification-popup">
      <span class="close-button" (click)="toggleNotificationPopup()">&times;</span>
      <div class="notification-box">
        <h3>Notifications</h3>
        <app-notifications (notificationClick)="handleNotificationClick($event)"></app-notifications>
      </div>
    </div>
  </body>
</html>