body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #dbdbdb;
}

.grid-container {
    position: relative;  
}

.grid-item2 .grid-item1{
    position: absolute;

}

.grid-item1{
    z-index: 2;
    
}

.grid-item2{
    z-index: 1;
    
}


@media screen and (max-width: 1159px) {
    .grid-container {
        grid-template-rows:200px auto;
    }
}

@media (max-width: 849px) {
    .grid-container {
        grid-template-rows:120px auto;
    }  
}
