<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>side bar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="project.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body>
    <div class="project-container">

      <!-- methodology section -->
      <div class="methodology">

      </div>

      <!--tasks section-->
      <div class="container">
        <h1>Ongoing Tasks section</h1>
        <form (ngSubmit)="onSubmit()">
          <div class="input-group">
            <div class="item1">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" [(ngModel)]="formData.description" required>
            </div>
            <div class="item2">
              <label for="member">Member</label>
              <select id="member" [(ngModel)]="formData.member" class="member-select">
                <option *ngFor="let member of members" [ngValue]="member.id">
                  {{ member.firstName }} {{ member.lastName }} -{{ member.occupation }}-
                </option>
              </select>
            </div>
            <div class="item3">
              <button type="submit" class="btn btn-add">Add Item</button>
            </div>
          </div>
        </form>
        

        <ul id="accordion">  
          <li *ngFor="let task of ongoingTasks">
            <form (ngSubmit)="onSubmit()">
              <label for="task-{{task.id}}">
                <div class="input-group">
                    <table>
                      <thead>
                        <tr>
                          <th class="TaskItem1">
                            <input type="text" class="form-control" id="description" [value]="task.description" [(ngModel)]="formData.description" required>
                          </th>
                          <th class="TaskItem3">
                            <select id="member" [(ngModel)]="formData.member" class="member-select">
                              <option *ngFor="let member of members" [ngValue]="member">
                                {{ member.firstName }} {{ member.lastName }} -{{ member.occupation }}-
                              </option>
                            </select>
                          </th>
                        </tr>
                      </thead>
                    </table>
                    <div class="TaskItem4">
                      <button type="button"  class="btn btn-edit" (click)="updateTask(task)">Edit</button>
                    </div>
                    <div class="TaskItem5">
                      <button (click)="remove(task.id)" class="btn btn-remove" type="button">Remove Item</button>
                    </div>
                </div>
              </label>
            </form>
          </li>
        </ul>
      </div>

      <div class="container">
        <h1>Finished Tasks section</h1>
        <ul id="accordion">  
          <li *ngFor="let task of finishedTasks">
            <form (ngSubmit)="onSubmit()">
              <label for="task-{{task.id}}">
                <div class="input-group">
                    <table>
                      <thead>
                        <tr>
                          <th class="TaskItem1">
                            <input type="text" class="form-control" id="description" [(ngModel)]="formData.description" required>
                          </th>
                          <th class="TaskItem3">
                            <select id="member" [(ngModel)]="formData.member" class="member-select">
                              <option *ngFor="let member of members" [ngValue]="member">
                                {{ member.firstName }} {{ member.lastName }} -{{ member.occupation }}-
                              </option>
                            </select>
                          </th>
                        </tr>
                      </thead>
                    </table>
                    <div class="TaskItem4">
                      <button type="button"  class="btn btn-edit" (click)="updateTask(task)">Edit</button>
                    </div>
                    <div class="TaskItem5">
                      <button (click)="remove(task.id)" class="btn btn-remove" type="button">Remove Item</button>
                    </div>
                </div>
              </label>
            </form>
          </li>
        </ul>     
      </div>

    </div>

    <div *ngIf="project" style="margin-top: 25px;">
      <h1 style="margin-top: 25px; color:white; margin-bottom: 20px;">{{project.title}} \ {{project.owner.firstName}} {{project.owner.lastName}} </h1>

      <table style="width:100%;">
        <thead>
          <tr>
            <th colspan="2" style="text-align: center;">Project Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-weight: bold;">Technologies</td>
            <td>{{project.technologies}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Description</td>
            <td>{{project.description}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Keywords</td>
            <td>{{project.keywords}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Team</td>
            <td>{{project.team.name}}</td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center;">
        <h3 style="margin-top: 25px; margin-bottom: 25px;"><span style="color: white;">Team members</span></h3>
      </div>
      <table>
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Occupation</th>
          </tr>
        </thead>
        <tbody *ngFor="let member of project.team.members">
          <tr>
            <td>{{member.firstName}}</td>
            <td>{{member.lastName}}</td>
            <td>{{member.occupation}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h5 style="margin-top: 25px;margin-bottom: 25px;"><span style="color: white;">Work Methodology : </span> <strong>{{project.methodology}}</strong></h5>
      <select [(ngModel)]="selectedWorkMethodology" class="">
        <option value="">Choose a working Methodology</option>
        <option value="Scrum">Scrum</option>
        <option value="XP">XP</option>
        <option value="Cascade">Cascade</option>
        <option value="V Model">V Model</option>
      </select>
      <button class="btn" type="button" style="background-color: white;margin-left: 25px;border: 1 solid #000;" (click)="save_work_methodology(project.id)">Save project</button>

    </div>      
  </body>
</html>