@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
    background: none;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: rgb(49, 49, 49);
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
}

.input-group{
    margin: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;
}

.input-group input , .input-group th input , .input-group th .item2{
    height: 45px;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;


}

.member-select{
    width: 100%;
    height: 46px;
    border-radius: 7px;
    border: 1px solid rgb(174, 174, 174);

}

.item1, .item2, .item3{
}
.item1, .TaskItem1{
    flex-basis: 600px;
}

.item2, .TaskItem3{
    flex-basis: 250px;
}

.TaskItem1{
    flex-basis: 400px;
}

.TaskItem3{
    flex-basis: 250px;
}

.TaskItem4{
}

.TaskItem5{
}

.btn-add{
    background-color: rgb(19, 196, 75);
    color: white;
    padding: 0px 15px;
    height: 46px;
}

.btn-edit{
    background-color: rgb(255, 128, 0);
    color: white;
    padding: 0px 15px;
    height: 46px;
}

.btn-remove{
    background-color: red;
    color: white;
    padding: 0px 15px;
    height: 46px;
}

ul{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

/*li{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid gray;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}*/

    


table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
table * {
    position: relative;
}
table td, table th {
    padding-left: 8px;
}
table thead tr {
    height: 60px;
    background: #ffed86;
    font-size: 16px;
}
table tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}
@media screen and (max-width: 35.5em) {
    table {
        display: block;
   }
    table > *, table tr, table td, table th {
        display: block;
   }
    table thead {
        display: none;
   }
    table tbody tr {
        height: auto;
        padding: 8px 0;
   }
    table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
   }
    table tbody tr td:last-child {
        margin-bottom: 0;
   }
    table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 40%;
        left: 10px;
        top: 0;
   }
    table tbody tr td:nth-child(1):before {
        content: "Code";
   }
    table tbody tr td:nth-child(2):before {
        content: "Stock";
   }
    table tbody tr td:nth-child(3):before {
        content: "Cap";
   }
    table tbody tr td:nth-child(4):before {
        content: "Inch";
   }
    table tbody tr td:nth-child(5):before {
        content: "Box Type";
   }
}

blockquote {
    color: white;
    text-align: center;
}
