.chat-container {
    height: 400px; /* Set a fixed height or use max-height for a scrollable container */
    
    overflow-y: auto;
  }
  
  .message-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .message {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
  }
  
  .sent {
    background-color: #4CAF50; /* Green for sent messages */
    color: white;
    align-self: flex-end;
  }
  
  .received {
    color: #fff;
    background-color: #7275a1; /* Gray for received messages */
    align-self: flex-start;
  }
  
  .timestamp {
    font-size: 0.8em;
    margin-left: 8px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  textarea {
    flex: 1;
    margin-right: 8px;
    border-radius: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #ffed86;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ecdc81;;
  }
  
  ngx-emoji-mart {
    display: none; /* Initially hide the emoji picker */
    position: absolute;
    bottom: 50px;
    right: 10px;
  }
  
  ngx-emoji-mart.show {
    display: block; /* Show the emoji picker when the button is clicked */
  }
  