/* rdv.component.css */
h2 {
  color: white;
    margin-left: 18%;
    margin-bottom: 10px;
  }
  
  .table-container {
    margin-left:18%;
    width: 80%;
    overflow-x: auto;
  }
  
  .appointments-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .appointments-table th, .appointments-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .appointments-table thead {
    background-color: #f2f2f2;
  }
  
  .appointments-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .appointments-table tbody tr:hover {
    background-color: #e0e0e0;
  }
  