<!-- rdv.component.html -->
<h2>Appointment List</h2>
<div class="table-container">
  <table class="appointments-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Status</th>
        <th>Action</th> <!-- New column for actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.id }}</td>
        <td>{{ appointment.firstName }}</td>
        <td>{{ appointment.lastName }}</td>
        <td>{{ appointment.email }}</td>
        <td>{{ convertToDate(appointment.appointmentDate) | date: 'dd/MM/yyyy' }}</td>
        <td>{{ convertToTime(appointment.appointmentTime) | date: 'shortTime' }}</td>
        <td>{{ appointment.status }}</td>
        <td>
            <!-- Add buttons for accepting and rejecting appointments -->
            <button *ngIf="appointment.status !== 'Accepted'" (click)="acceptAppointment(appointment.id)">Accept</button>
            <button *ngIf="appointment.status !== 'Rejected'" (click)="rejectAppointment(appointment.id)">Reject</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
