/* rdv.component.css */
h2 {
  color: #261554;
  margin-left: 18%;
    margin-bottom: 10px;
  }
  table{
    border: 1px solid #000;
  }
  
  .table-container {
    margin-left:18%;
    width: 80%;
    overflow-x: auto;
  }
  
  .appointments-table {
    width: 100%;
    border-collapse: collapse;
  }
  .appointments-table th, .appointments-table td {
    padding: 12px;
    width: auto;
    text-align: left;
    border: 1px solid #000;

  }
  
  .appointments-table thead {
    background-color: #f2f2f2;
  }
  
  .appointments-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .appointments-table tbody tr:hover {
    background-color: #e0e0e0;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .buttons button{
    background: transparent;
    border: 1px #000 solid;
    border-radius: 5px;
  }
  button.accept:hover{
    color: #fff;
    background: darkgreen;
  }

  button.reject:hover{
    color:#fff;
    background: darkred;
  }